# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.log
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_Store
.env
database.db
identifier.sqlite
*.gz
